{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    {% block extra_css %}{% endblock %}
    
</head>
<body>
  <div style="padding: 10px; border-radius: 3px; background-color: #8DD8DD">
    {% block content %}{% endblock %}
  </div>
    <script type="text/javascript" src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/timelineme.js/src/jquery.timelineMe.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>