{% extends "base.html" %}

{% block content %}
    <h2>News</h2>
    <ul>
        {% for new in news %}
            <li><a href="/timeline/{{new.id}}">{{ new.title }}</a> || {{ new.pub_date }}</li>
        {% endfor %}
    </ul>
{% endblock %}