{% extends "base.html" %}{% load static %}


{% block title %}Timeline: {{timeline.title}} - {{timeline.id}}{% endblock %}

{% block content %}


Timeline: {{timeline.0}}<br><br>




<form action="" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Content</label>
    {{form.content}}
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Extra info</label>
    {{form.extra}}
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Image url</label>
    {{form.image}}
  </div>

   <div class="form-group">
    <label for="exampleInputFile">Way</label>
    {{form.way}}
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>


<div id="timeline-container-basic"></div>


<button id="timeline-collapse-button" class="btn">collapse</button>

{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/timelineme.js/src/jquery.timelineMe.css' %}">
{% endblock %}


{% block extra_js %}
    <script type="text/javascript" src="{% static 'vendor/timelineme.js/src/jquery.timelineMe.js' %}"></script>
    <script type="text/javascript">
    
        $('#timeline-container-basic').timelineMe({
          items: [
            

            {% for tm in timeline %}

              {
                type: 'smallItem',
                label: '{{tm.pub_date}}',
                shortContent: '{{tm.content}}',
                fullContent: '{{tm.extra}}',
                forcePosition: '{{tm.way}}',
                picto: '<i class="fa fa-bitbucket" aria-hidden="true"></i>',
              },

            {% endfor %}

          ]
        });

        $('#timeline-collapse-button').on('click', function() {
          $('#timeline-container-basic').timelineMe('collapse', 'toggle');
        });
    </script>
{% endblock %}